.container
  .jumbotron
    %h1=I18n.t('text_stats.form.title')
  .row#text_stats_app

= render 'here/all_templates'

:javascript
  $(document).ready(function() {
    var hereApp = new Here.Apps.TextStats.App({hereRef: self});
    hereApp.activate();
  });