%script{type: "text/template", id: "text_stats_main_template"}
  .col-md-6
    .form-group
      %label{ for: 'text'}
        = I18n.t('text_stats.form.text.title')
      = text_field_tag 'text', '', placeholder: I18n.t('text_stats.form.text.place_holder'), class: 'form-control'
    .form-group
      %label{ for: 'font_face'}
        = I18n.t('text_stats.form.font')
      = select_tag  :font_face,  options_for_select(font_faces), class: 'form-control'
    .form-group
      %label{ for: 'font_size'}
        = I18n.t('text_stats.form.font_size')
      = select_tag  :font_size,   options_for_select(font_sizes), class: 'form-control'
    .form-group
      %label{ for: 'max_width'}
        = I18n.t('text_stats.form.max_width.title')
      = text_field_tag 'max_width', '', placeholder: I18n.t('text_stats.form.max_width.place_holder'), class: 'form-control'
    .form-group
      = button_tag I18n.t('text_stats.form.submit'), class: 'form-control', id: 'get_stats'

  .col-md-6#text_stats_calculations
    .title
    %b= I18n.t('text_stats.results.title')
    .width
      = I18n.t('text_stats.results.width')
    .lines
      = I18n.t('text_stats.results.lines')