!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Text Statistics
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    / Latest compiled and minified CSS
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel: "stylesheet"}/
    / Optional theme
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css", rel: "stylesheet"}/
    / Latest compiled and minified JavaScript
    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}

    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
    %script{src: "http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"}
    %script{src: "http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"}

    = csrf_meta_tags

  %body
    =yield